#whole-page {
  height: 100vh;
  width: 100vw;
  padding: 1%;

  #left-bar {
    #room-scroll {
        max-height: 100%;
        overflow-y: scroll;
      .room-link {
        &:active {
            background-color: #000000;
        }
        .room-card {
            &:active {
                background-color: #000000;
            }

          .room-name {
            text-decoration: none;
            font-weight: 800;
          }
          .members-details {
            &:hover {
              .hidden-details {
                display: block;
              }
            }
            .members {
              font-size: smaller;
              text-decoration: none;
              color: grey;
              font-weight: 500;
            }
            .hidden-details {
              display: none;
            }
          }
        }
        &:hover {
          text-decoration: none;
          color: lightsteelblue;
        }
      }
    }
  }

  #right-section {
    .chat-room {

      .navbar {
        height: 10%;
      }
      .chat-space {
        min-height: 80%;
        overflow-y: hidden;
        padding: 0 1% 0 2%;
      }

      .message {
        margin-bottom: 3px;
        min-height: 59px;
        .content-container {
          display: inline-block;
          .content {
            background-color: #eeeeee;
            padding: 8px 16px;
            border-radius: 20px;
          }
          .author {
            font-size: 0.8rem;
            color: #777777;
            margin-left: 20px;
          }
        }
        &.me {
          .content-container {
            float: right;
            .content {
              background-color: #007bff;
              color: white;
            }
            .author {
              float: right;
              padding-right: 20px;
            }
          }
        }

        .chat-box {
          position: absolute;
          bottom: 0;
          padding: 20px;
          input[type="text"] {
            height: 45px;
            font-size: 18px;
            padding: 8px;
          }
          .btn {
            height: 45px;
          }
          .input-group {
            width: 100%;
          }
        }
      }
    }
  }
}
